

.Btn{
    background-color: #fe7c73; /* Green */
    border: oldlace;
    color: white;
    padding: 10px 16px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}