h3{
  font-family: 'Roboto', sans-serif;
  
 
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.CartWidget{
  background-color: #86baeb;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  color: #333;
  display: inline-block;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar {
    background-color: #90a3db;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #343a40;
    font-weight: 500;
    margin-right: 1rem;
    padding: 0.5rem 0;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .navbar-toggler {
    border-color: transparent;
    outline: none;
  }
  
  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: no-repeat center center;
    background-size: 100% 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(90deg);
  }
  
  .button-ps4 {
    background-color: #4d83c1;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 3px solid #ffffff;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .button-ps4:hover {
    background-color: #253f81;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
  
  .button-ps4:active {
    background-color: #253f81;
    box-shadow: none;
    transform: translateY(2px);
  }

  /* buton para ps5 */
  .button-ps5 {
    background-color: #4d83c1;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 3px solid #ffffff;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .button-ps5:hover {
    background-color: #253f81;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
  
  .button-ps5:active {
    background-color: #253f81;
    box-shadow: none;
    transform: translateY(2px);
  }
  /* boton para xbox one */
  .button-xboxone {
    background-color: #2ca243;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 3px solid #ffffff;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .button-xboxone:hover {
    background-color: #107c10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
  
  .button-xboxone:active {
    background-color: #107c10;
    box-shadow: none;
    transform: translateY(2px);
  }

  /* boton para xbox series x/s */
  .button-xboxseries {
    background-color: #2ca243;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 3px solid #ffffff;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .button-xboxseries:hover {
    background-color: #107c10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
  
  .button-xboxseries:active {
    background-color: #107c10;
    box-shadow: none;
    transform: translateY(2px);
  }